.title{
    font-weight: 600;
}
/* 
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.wrapper {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start;
    gap: 7px;
    flex-wrap: wrap;
}
